<%= form_for @profile do |f| %>

  <%= render 'profiles/error'%>

  <div class="field">
    <h3><%= f.label :title %></h3>
    <p><%= f.text_field :title %></p>
  </div>

  <div class="field">

    <fieldset>
      <h3>Categories:</h3>
      <h5>Create new categories and associate them with this profile:</h5>
        <%= f.fields_for :categories do |category_fields| %>
          <div class="field">
            <%= category_fields.label :name %><br>
            <%= category_fields.text_field :name, :value => '' %>
          </div>
        <% end %>
        <br>
    </fieldset>

    <h5>...or choose from existing categories in the database</h5>
    <p><%= f.collection_check_boxes :category_ids, Category.all, :id, :name %></p>

    <h3><%= f.label :hourly %></h3>
    <p>$ <%= f.text_field :hourly, :value => @profile.hourly, step: 0.01, min: 0 %></p>

    <h3><%= f.label :available_from %></h3>
    <p><%= f.date_field :available_from %></p>
  </div>


  <h3><%= f.label :skills %></h3>
  <%= f.fields_for :skills do |skill_fields| %>
    <%= render "nested_fields", :f => skill_fields %>
  <% end %>

<br>
<%= f.submit %>

<% end %>
