<%= form_for @profile do |f| %>

  <div class="field">
    <h3><%= f.label :title %></h3>
    <p><%= f.text_field :title %></p>
  </div>

  <div class="field">
    <h3><%= f.label :categories %></h3>
    <p><%= f.collection_check_boxes :category_ids, Category.all, :id, :name %></p>
  </div>

  <div class="field">
    <h3><%= f.label :skills %></h3>
    <%= f.fields_for :skills do |ff| %>
    <div>
      <%= ff.label :name %>
      <%= ff.text_field :name %>

      <% if ff.object.persisted? %>
        <%= ff.check_box :_destroy %>
        <%= ff.label :_destroy, "Destroy" %>
      <% end %>
    </div>
  <% end %>

<%= f.submit %>

<% end %>
