<!-- <h2><%= @profile.title %> by '<%= @profile.user.name %>' </h2> -->

<%= render '/profiles/best'%>

<%= render '/profiles/profile'%>

<%= render '/comments/buttons'%>

&nbsp;
<%= render '/profiles/bottom'%>
