<% if @title %><h2><%= @title %></h2><% end %>

<%= form_for @user, url: @url do |f| %>

  <div class="field"> <label for="user_name">Name</label><br>
    <%= f.text_field :name, :value => @user.name %></div>
  <div class="field"> <label for="user_email">Email</label><br>
    <%= f.text_field :email %></div>

  <div class="field"> <label for="user_password">Password</label><br>
    <%= f.password_field :password %></div>
  <div class="field"><%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %></div>

  <%= f.submit %>

  <% end %>
