<div id="best_profile">
    <p>
      <strong>Email:</strong>
      <span><%=@profiles.first.user.email%></span>
    </p>

    <p>
      <strong>Hourly Rate:</strong>
      <span>$ <%=@profiles.first.hourly%></span>
    </p>

    <p>
      <strong>Available From:</strong>
      <span>
        <% if !@profiles.first.available_from.nil? %>
          <%=@profiles.first.available_from.strftime("%m/%d/%Y") %>
        <% end %>
      </span>
    </p>

    <p>
      <strong>Categories:</strong>
      <span>
        <% @profiles.first.categories.each do |category| %>
          <%= category.name %><br>
        <% end %>
      </span>
    </p>

    <p>
      <strong>Skills:</strong>
      <span>
        <% @profiles.first.skills.each do |skill| %>
          <%= skill.name %><br>
        <% end %>
      </span>
    </p>

</div>
