<!DOCTYPE html>
<html>
  <head>
    <title>Peraide Market (Rails Portfolio Project)</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div>
      <%= yield %>
    </div>

  </body>
</html>
